html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #e97788;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}
.header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.header-item {
    margin-right: 40px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-link {
    text-decoration: none;
    color: rgba(245, 238, 238, 0.5);
    transition: color 0.4s ease;
}
.header-link:active,
.header-link:focus,
.active {
    color: #fff;
}
.header-link:hover {
    color: rgba(245, 238, 238, 0.7);
}
.header-text {
    max-width: 500px;
    margin-bottom: 50px;
}
.details-box {
    position: relative;
    z-index: 1;
}
.details-body {
    display: flex;
    box-shadow: 0 0 10px 2px #333;
}
.details-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
    padding-left: 50px;
}
.details-row-brown {
    background-color: #3f3232;
}
.details-row-dark {
    background-color: #1f1616;
}
.details-row-black {
    background-color: #181616;
}
.details-heading {
    font-size: 16px;
    color: #c56071;
}
.details-data {
    font-size: 26px;
}